.pago-form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    place-items: center;
    gap: 1rem;
}

.pago-form > form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px;
}

.pago-form > form > input , select {
    height: 1.5rem;
    width: 98%;
    border-radius: 9px;
    border: 1px solid blueviolet;
    padding-left: 1rem
}

.button_end {
    height: 3rem;
    width: 55%;
    font-size: 1rem;
    color: var(--secondary);
    background: var(--background);
    border-radius: 18px;
    border: 2px solid rgb(249, 217, 7);
    transition: all 0.3s ease-in-out;
    place-self: center;
}

.button_end:hover {
    transform: scale(1.2);
    color: rgb(252, 252, 113);
}

.div-no{
    display: none;
    flex-direction: column;
    padding: 4rem;
    color: var(--primary);
    background-color: var(--font);
    gap: 2rem;
    border-radius: 21px;
}

.pago-form > div > button {
    height: 3rem;
    width: 55%;
    font-size: 1rem;
    color: var(--secondary);
    background: var(--background);
    border-radius: 18px;
    border: 2px solid rgb(249, 217, 7);
    transition: all 0.3s ease-in-out;
    place-self: center;
}

.div_end {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    color: var(--primary);
    background-color: var(--font);
    gap: 2rem;
    border-radius: 21px;
}