*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MadeOk, sans-serif;
}

:root {
    --background: #8a2be2;
    --transparent: #303030ee;
    --primary: snow;
    --secondary: #ffce09;
    --error: #c24a42;
    --font: #272727;
    --gradienBlack: linear-gradient(180deg, rgba(31,30,33,1) 29%, rgba(50,47,52,1) 61%, rgba(112,110,113,1) 100%);
  }

@font-face {
    font-family: Antipasto;
    src: url("./assets/fonts/Antipasto_Regular.ttf");
    display: block;
}
@font-face {
    font-family: Barcelona;
    src: url("./assets/fonts/Barcelona.otf");
    display: block;
}
@font-face {
    font-family: MadeOk;
    src: url("./assets/fonts/MADEOk.otf");
    display: block;
}

a {
    text-decoration: none;
    color: var(--font);
}

main {
    border-top: 5px solid black;
    background-color: snow;
}