*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
.figureGallery > a > img {
    width: 8rem;
    height: 15rem;
}

.phones_gallery {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
}

.figure_phone > img {
    width: 15rem;
    height: 28rem;
}

.img_second > button > img {
    width: 5rem;
    height: 9rem;
}

.hero_image {
    display: flex;
    flex-direction: row;
}

.black {
    height: 2rem;
    width: 2rem;
    background-color: rgb(6, 6, 19);

}
.blue {
    height: 2rem;
    width: 2rem;
    background-color: rgb(84, 84, 216);

}

.sectionHero > img {
    width: 3rem;
    height: 3rem;
}

.hero_detail {
    display: flex;
    flex-direction: row;
    padding: 3rem;
    gap: 3.5rem;
} 

.img_second > button > .img2 {
    width: 7.5rem;
}

.figure_phone > .mainImg {
    width: 21rem;
}